<div class="todo" [class.done] = "toDo$.status">
  <div class="todo-content">
    <div class="handel">
      <img src="./assets/svg/handel.svg">
    </div>
    <div class="todo-content-check">
      <img *ngIf="!toDo$.status" (click)="changeCheck($event)"  src="./assets/svg/CheckboxOpen.svg">
      <img *ngIf="toDo$.status" (click)="changeCheck($event)" src="./assets/svg/CheckboxChecked.svg">
    </div>
    <div class="todo-content-titel">
      <input (blur)="changeLabel($event)" type="text" [(ngModel)]="toDo$.label" placeholder="Name des To-Do Punktes">
    </div>
  </div>
  <div class="delete">
    <span>Löschen</span>
  </div>
</div>